body {
    margin: 0;
}
.map {
    
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    min-width: 20px;
    min-height: 20px;
}
.box {
    background-color: chocolate;
    height: 20px;
    width: 20px;
    position: absolute;
}
.storage {
    height: 20px;
    width: 20px;
}
.player {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: cyan;
    left: 40px;
    top: 40px;   
}